<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/x-icon" href="https://production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
  <link rel="mask-icon" type="" href="https://production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
  <title>CodePen - Project2-Brand</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "css/brand.css"%}">
  
  
  
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Oswald'>
</head>

<body translate="no" >

  
<div class="header"><img class="icon" src="http://www.monoame.com/autoCAD/img/logoname.png" alt=""/></div>
<div class="content content_grey">
  <div class="max_width">
    <h5>style Guideline</h5>
    <h1>品牌視覺引導-40px 大標題</h1>
    <h1 class="small_english">English Style guideline for h1 title</h1>
    <div class="title_hr"></div>
    <h2>品牌視覺引導-30px 中標題</h2>
    <h2 class="small_english">English Style guideline for h2 title</h2>
    <h3>品牌視覺引導-20px 小標題</h3>
    <h3 class="small_english">English Style guideline for h3 title</h3>
    <hr/>
    <h5>VI Colors</h5>
    <div class="color_chip">
      <div class="color_tag">#ffb336</div>
      <div class="color_block color_block_yellow"></div>
    </div>
    <div class="color_chip">
      <div class="color_tag">#27232F</div>
      <div class="color_block color_block_blue"></div>
    </div>
    <div class="color_chip">
      <div class="color_tag">#f3f7f7</div>
      <div class="color_block color_block_white"></div>
    </div>
    <div class="color_chip">
      <div class="color_tag">#333333</div>
      <div class="color_block color_block_grey"></div>
    </div>
    <h5>BUTTON EXAMPLE</h5>
    <div class="button">按鈕範例</div>
    <div class="button button_blue">按鈕範例</div>
    <div class="button button_yellow">按鈕範例</div>
  </div>
</div>
<div class="content content_blue">
  <div class="max_width">
    <h5>style Guideline</h5>
    <h1>品牌視覺引導-40px 大標題</h1>
    <h1 class="small_english">English Style guideline for h1 title</h1>
    <div class="title_hr"></div>
    <h2>品牌視覺引導-30px 中標題</h2>
    <h2 class="small_english">English Style guideline for h2 title</h2>
    <h3>品牌視覺引導-20px 小標題</h3>
    <h3 class="small_english">English Style guideline for h3 title</h3>
    <hr/>
    <h5>VI Colors</h5>
    <div class="color_chip">
      <div class="color_tag">#ffb336</div>
      <div class="color_block color_block_yellow"></div>
    </div>
    <div class="color_chip">
      <div class="color_tag">#27232F</div>
      <div class="color_block color_block_blue"></div>
    </div>
    <div class="color_chip">
      <div class="color_tag">#f3f7f7</div>
      <div class="color_block color_block_white"></div>
    </div>
    <div class="color_chip">
      <div class="color_tag">#333333</div>
      <div class="color_block color_block_grey"></div>
    </div>
    <h5>BUTTON EXAMPLE</h5>
    <div class="button">按鈕範例</div>
    <div class="button button_blue">按鈕範例</div>
    <div class="button button_yellow">按鈕範例</div>
  </div>
</div>
<div class="content content_white">
  <div class="max_width">
    <h5>style Guideline</h5>
    <h1>品牌視覺引導-40px 大標題</h1>
    <h1 class="small_english">English Style guideline for h1 title</h1>
    <div class="title_hr"></div><br/>
    <h2>品牌視覺引導-30px 中標題</h2>
    <h2 class="small_english">English Style guideline for h2 title</h2><br/>
    <h3>品牌視覺引導-20px 小標題</h3>
    <h3 class="small_english">English Style guideline for h3 title</h3><br/>
    <hr/>
    <h5>VI Colors</h5>
    <div class="color_chip">
      <div class="color_tag">#ffb336</div>
      <div class="color_block color_block_yellow"></div>
    </div>
    <div class="color_chip">
      <div class="color_tag">#27232F</div>
      <div class="color_block color_block_blue"></div>
    </div>
    <div class="color_chip">
      <div class="color_tag">#f3f7f7</div>
      <div class="color_block color_block_white"></div>
    </div>
    <div class="color_chip">
      <div class="color_tag">#333333</div>
      <div class="color_block color_block_grey"></div>
    </div>
    <h5>BUTTON EXAMPLE</h5>
    <div class="button">按鈕範例</div>
    <div class="button button_blue">按鈕範例</div>
    <div class="button button_yellow">按鈕範例</div>
  </div>
</div>
  
  
  
  
  

</body>
</html>