<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/x-icon" href="https://production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
  <link rel="mask-icon" type="" href="https://production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
  <title>CodePen - Project1</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "style1.css" %}" type="text/css">

  </head>

<body translate="no" >

  <div class="mark">NAMECARD</div>
<div class="namecard">
  <h2>陳奕迅
    <span>(Fatttt Niu Niu )</span>
  </h2>
   <h5>設計師</h5> 
  
  <hr>
  <p>台電腦，強韌不會斷線的網路，與網頁瀏覽器
(如果會Adobe Illstrator者更棒，這裡會教你如何將自己刻的版面/logo/色系轉換為網站)</p>
  <div class="circle circle1"></div>
  <div class="circle circle2"></div>
  
  </div>
<h3 class="page_title">名片</h3>
  

</body>
</html>